<% if @course %>

<h1><%= @course.name %></h1>

<ul>
  <li>課程售價：<%= @course.price %>元</li>
  <li>課程介紹：<%= @course.intro %></li>
  <li>總時數：<%= @course.hour %>小時</li>
</ul>

<% else %>

<h1>No Record found!</h1>

<% end %>